.button{
    color: #FBF6FB;
    border-radius: 50px;
    border: 1px solid transparent;
    padding: 12px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #7C5DF9;
    cursor: pointer;
    transition: border-color 0.25s;
}

.button:hover {
    border-color: #646cff;
    background-color: #9074ff;
  }
  .button:focus,
  .button:focus-visible {
    /* outline: 4px auto -webkit-focus-ring-color; */
    border: 0;
  }
  