.display{
    display: block;
}
.edit{
    display: block;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    label{
        font-weight: 400;
    }
}
.edit{
    div{
        label{
            color: rgb(48, 48, 209);
        }
    }
}
input,select{
    font-weight: 700;
}
form{
    span{
        font-weight: 700;
    }
}
.justify-end{
    justify-content: flex-end;
}
.item-light{
    label{

        color:rgb(5, 4, 4);
    }
}
.item-dark{
    .ant-form-item-label{

        label{
    
            color: #fff;
        }
    }
}